-provide(:title, "confirm")

.container
  %h1 確認画面
  .stage-status
    .step ステップ① 会員情報の登録
    .step ステップ② 会社情報の登録
    .step.now ステップ③ 入力内容の確認
  .container.form-container
    .mt20.required 名前
    .bold= @user["name"]
    .mt20.required フリガナ　
    .bold= @user["phonetic"]
    .mt20.required メールアドレス
    .bold= @user["email"]
    .mt20.required 電話番号
    .bold= @user["tel"]
    .mt20.required パスワード
    .bold ●●●●●●●
    .mt20.required プロフィール画像
    .mt10.circle

    .line-horizontal.dot-line.long

    .mt20.required 会社名
    .bold= @company["company"]
    .mt20.required 部署
    .bold= @company["department"]
    .mt20.required 役職
    .bold= @company["position"]
    .mt20.required 従業員数
    .bold= @company["employee_num"]
    .mt20.required 郵便番号
    .bold= @company["company_post_code"]
    .mt20.required 所在地
    .bold= @company["company_location"]
    .mt20.required 創立年月日
    .bold= @company["establishment_year"]
    .mt20.required 業種
    .bold= @company["industry_type"]
    .mt20.required 社長名
    .bold= @company["ceo_name"]

    .mt20.btn-container
      = link_to "この内容で登録する", finish_confirm_users_path, method: :post, class: "btn input orange"
    .mt10.btn-container
      =link_to "前へ戻る", '#', class: "btn input light-gray"

