-provide(:title, "Sign in -user-")

%h1 User Register
%p please fill in form for.
.form_user
  = form_for @user do |f|
    .mt10
      = f.label :name
      = f.text_field :name

    .mt10
      = f.label :phonetic
      = f.text_field :phonetic
      
    .mt10
      = f.label :email
      = f.text_field :email

    .mt10
      = f.label :tel
      = f.phone_field :tel

    .mt10
      = f.label :password
      = f.password_field :password

    .mt10
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    .mt10
      = f.submit "次へ-会社情報-"

