-provide(:title, "Sign in -user-")

.container
  %h1 新規会員登録
  .stage-status
    .step.now ステップ① 会員情報の登録
    .step ステップ② 会社情報の登録
    .step ステップ③ 入力内容の確認
  = form_for @user do |f|
    .container.mt40
      .container.form-container
        .mt10.label-filed.required お名前
        = f.text_field :name, class: "input-field"

      .container.form-container
        .mt10.label-filed.required フリガナ
        = f.text_field :phonetic, class: "input-field"

      .container.form-container
        .mt10.label-filed.required メールアドレス
        = f.text_field :email, class: "input-field"

      .container.form-container
        .mt10.label-filed.required 電話番号
        = f.phone_field :tel, class: "input-field"

      .container.form-container
        .mt10.label-filed.required パスワード
        = f.password_field :password, class: "input-field"

      .container.form-container
        .mt10.label-filed.required パスワード（確認）
        = f.password_field :password_confirmation, class: "input-field"

      .container.form-container
        .mt10.label-filed.required プロフィール画像
        .container.flex-container.max-width
          .circle.mt10
          = f.submit "ファイルを選択", class: "btn light-gray width40"

      .container.form-container.mt20
        = f.submit "次へ-会社情報-", class: "btn input orange"

      .container.form-container
        = f.submit "キャンセル", class: "btn input light-gray"