-provide(:title, "Sign in -company-")

.container
  %h1 会社情報の登録
  .stage-status
    .step ステップ① 会員情報の登録
    .step.now ステップ② 会社情報の登録
    .step ステップ③ 入力内容の確認
  =form_for @company do |f|
    .container.mt40
      .container.form-container
        = f.label :会社名　＊必須, class: "label-field"
        = f.text_field :company, class: "input-field"
      .container.form-container
        = f.label :部署　＊必須, class: "label-field"
        = f.text_field :department, class: "input-field"
      .container.form-container
        = f.label :役職　＊必須, class: "label-field"
        = f.text_field :position, class: "input-field"
      .container.form-container
        = f.label :従業員数　＊必須, class: "label-field"
        = f.number_field :employee_num, class: "input-field"
      .container.form-container
        = f.label :会社郵便番号　＊必須, class: "label-field"
        = f.text_field :company_post_code, class: "input-field"
      .container.form-container
        = f.label :会社所在地　＊必須, class: "label-field"
        = f.text_field :company_location, class: "input-field"
      .container.form-container
        = f.label :創立年月日　＊必須, class: "label-field"
        = f.date_field :establishment_year, class: "input-field"
      .container.form-container
        = f.label :業種　＊必須, class: "label-field"
        = f.text_field :industry_type, class: "input-field"
      .container.form-container
        = f.label :社長名　＊必須, class: "label-field"
        = f.text_field :ceo_name, class: "input-field"
      .container.form-container
        = f.submit "確認する", class: "btn input orange"
      .container.form-container
        = f.submit "キャンセル", class: "btn input light-gray"